<!-- <ion-header>
  <ion-toolbar color="darkblue">
    <ion-title >login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding='true'>
    <section class="container-fluid d-flex h-100 justify-content-center">
        <div class="row justify-content-center align-self-center">
            <div class="text-center col-12">
                <img src="assets/images/logo.png" class="smallLogo" />
                <h1 class="font-weight-bold"><u>Create Account</u></h1>
            </div>
            <div class="col-12">
                <form>
                    <ion-list class="row">
                        <ion-item class="col-6">
                            <ion-label position="stacked">First Name</ion-label>
                            <ion-input autocomplete="off" name="first_name" type="text" [(ngModel)]="postData.first_name"></ion-input>
                        </ion-item>
                        <ion-item class="col-6">
                            <ion-label position="stacked">Last Name</ion-label>
                            <ion-input autocomplete="off" name="last_name" type="text" [(ngModel)]="postData.last_name"></ion-input>
                        </ion-item>
                        <ion-item class="col-12">
                            <ion-label position="stacked">Address</ion-label>
                            <ion-input autocomplete="off" name="address" type="text" [(ngModel)]="postData.address"></ion-input>
                        </ion-item>
                        <ion-item class="col-6">
                            <ion-label position="stacked">Email</ion-label>
                            <ion-input autocomplete="off" name="email" type="email" [(ngModel)]="postData.email"></ion-input>
                        </ion-item>
                        <ion-item class="col-6">
                            <ion-label position="stacked">Phone</ion-label>
                            <ion-input autocomplete="off" name="phone" type="text" [(ngModel)]="postData.phone"></ion-input>
                        </ion-item>
                        <ion-item class="col-12">
                            <ion-label position="stacked">Username</ion-label>
                            <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
                        </ion-item>

                        <ion-item class="col-6">
                            <ion-label position="stacked">Password</ion-label>
                            <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
                        </ion-item>
                        <ion-item class="col-6">
                            <ion-label position="stacked">Confirm Password</ion-label>
                            <ion-input autocomplete="off" name="confirm_password" type="password" [(ngModel)]="postData.confirm_password"></ion-input>
                        </ion-item>

                        <div class="my-3">
                            <ion-button expand="block" share="round" color="orange" (click)="signupAction()">Registration</ion-button>
                        </div>
                        <ion-item lines='none'>
                            Already have an account? <a routerLink='/login'>Sign in.</a>
                        </ion-item>
                    </ion-list>

                </form>
            </div>
        </div>
    </section>

</ion-content>