<section class="container ">
  <div class="card my-2 mx-1">
    <div class=" d-flex justify-content-between ">
      <ion-title><span id="page_title">Make Request</span></ion-title>
      
      <div>
        
        <span class="dropdown-toggle nav-link" data-toggle="dropdown">
          <span class="user-img">
            <img src="assets/profiles/avatar-21.jpg" alt="profile-pics">
            <span class="status online"></span>
        </span>
          <!-- <span>Admin</span> -->
      </span>
      </div>
    </div>
  </div>
  
</section>

<ion-content>
  <ion-button color='orange' (click)="logoutAction()">Log Out.</ion-button>
</ion-content>
